@page "/"
@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@rendermode RenderMode.InteractiveServer

<div>@Body</div>
<PageTitle></PageTitle>


